<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h2 class="card-title">ABOUT</h4>
    <h4 class="card-subtitle mb-2 text-muted">This is Node/Express App for jotting down ideas for future Youtube Videos</h6>
    <p class="card-text">Version 1.0.0</p>
  </div>
</div>
